/* Fix color picker label alignment
-------------------------------------------------------------- */
.s214-color-picker-label {
    position: absolute;
    display: inline-block;
    padding-top: 4px;
}

/* System info styles
-------------------------------------------------------------- */
#system-info-textarea {
    width: 800px;
    height: 400px;
    font-family: Menlo, Monaco, monospace;
    background: none;
    white-space: pre;
    overflow: auto;
    display: block;
}
