/* Fix color picker label alignment
-------------------------------------------------------------- */
.s214-color-picker-label {
    position: absolute;
    display: inline-block;
    padding-top: 4px;
}